@import url("https://fonts.googleapis.com/css2?family=Pompiere&family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway");
/*------------- VARIABLES ------------*/
/*------------- GLOBALES ------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*------------- header global ------------*/
/*titulo principal de la pagina*/
header {
  grid-area: header;
  background-color: #000000; }
  header .logo-mobile {
    display: flex;
    justify-content: center; }
  header .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 15px;
    margin-top: 5px;
    border-radius: 20px; }
    header .menu ul .logo-tablet {
      display: none; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: white;
  font-size: 25px;
  text-decoration: none; }

/* Cambio color de menu hamburguesa */
.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: white;
  border: none; }
  .navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px; }

*body {
  background-color: #ffc10757;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer"; }

/*------------- footer global ------------*/
footer {
  background-color: #000000; }
  footer nav {
    padding: 15px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%; }
  footer ul {
    list-style: none;
    text-align: justify; }

.infoDeContacto {
  color: white;
  text-decoration: none; }

/*-------------Pagina Index-----------------*/
.text p {
  color: white; }

.mainInicio {
  grid-template-columns: 1fr;
  grid-template-areas: "bienvenida" "nosotros"    "productos"; }

.mainInicio #galeria {
  display: none; }

.mainInicio .bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/productos/scones de queso.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; }
  .mainInicio .bienvenida .contenedor {
    width: 80%;
    text-align: center; }
    .mainInicio .bienvenida .contenedor h1 {
      font-family: "Ms Madi", cursive;
      font-size: 4rem;
      text-shadow: 2px 0px 0px beige, 0px 2px 0px beige, -2px 0px 0px beige, 0px -2px 0px beige;
      text-decoration: none; }
    .mainInicio .bienvenida .contenedor p {
      font-weight: bold;
      font-size: 25px;
      color: beige;
      text-shadow: 2px 0px 0px black, 0px 2px 0px black, -2px 0px 0px black, 0px -2px 0px black; }

/* info nosotros en index*/
.mainInicio .nosotros .contenedorNosotros {
  background-color: #ffc10757;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 2rem 0; }
  .mainInicio .nosotros .contenedorNosotros img {
    width: 95%; }
  .mainInicio .nosotros .contenedorNosotros .descripcionNosotros p {
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px; }

/* info productos en index*/
.mainInicio .productosMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff1c6;
  gap: 2rem;
  padding: 2rem; }
  .mainInicio .productosMobile h2 {
    padding-top: 1rem 0;
    font-size: 2.2rem; }
  .mainInicio .productosMobile p {
    text-align: justify; }
  .mainInicio .productosMobile .carousel {
    width: 89%; }

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem; }
  .mainPage .titulo {
    padding: 4rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem; }
    .mainPage .titulo h3 {
      text-align: justify; }
  .mainPage .nosotros {
    font-size: 20px; }

.btn, .btnCompra, .botonEnviar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  margin: 10px; }

.btnCompra {
  background-color: #ffc10726;
  border-color: #ffc107; }

.botonEnviar {
  background-color: #ffffff26;
  border-color: #09080726;
  width: 30%; }

/****************************************************************************************************/
/*------------Pagina Recetas-----------*/
.input-info {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px; }

p input {
  width: 220px; }

.receta1 {
  text-align: justify;
  border: solid 4px;
  border-radius: 10px;
  margin: 10%;
  background-color: white;
  font-size: 20px; }
  .receta1 h2 {
    padding: 10px;
    text-align: center; }
  .receta1 .ingredientes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67px; }
    .receta1 .ingredientes img {
      border-style: double;
      border-color: #000000;
      margin: 0%; }

.pasoApaso {
  padding: 30px; }

.videos {
  text-align: justify;
  border: solid 4px;
  border-radius: 10px;
  margin: auto;
  background-color: white; }
  .videos h2 {
    text-align: center;
    padding: 25px; }
  .videos iframe {
    width: 253px;
    height: 180px; }

.iframes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 20px; }

/***************************************************************************************************************/
/* vista para tablet/ordenador del index*/
@media screen and (min-width: 768px) {
  /*menu tablet */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .logo-mobile {
      display: none; }
    header .menu ul {
      font-size: 1.2rem;
      background-color: #000000;
      margin-top: 0; }
      header .menu ul li {
        display: flex;
        align-items: center;
        height: fit-content; }
      header .menu ul .logo-tablet {
        display: initial; }
  .navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    color: white;
    font-size: 25px;
    text-decoration: none; }
  /* Cambio color de menu hamburguesa */
  .navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: white;
    border: none; }
    .navbar-toggler .line {
      width: 100%;
      float: left;
      height: 2px;
      background-color: white;
      margin-bottom: 5px; }
  .mainInicio .productosMobile {
    display: none; }
    .mainInicio .productosMobile .carousel {
      display: none; }
  .mainInicio #galeria {
    display: initial; }
  /* info nosotros en index*/
  .mainInicio .nosotros .descripcionNosotros {
    width: 70%; }
    .mainInicio .nosotros .descripcionNosotros p {
      font-size: 1.4rem; }
  /* info productos en index*/
  .mainInicio .productos {
    grid-area: productos;
    padding: 2rem 0; }
    .mainInicio .productos .imagenesInicioProductos {
      background-color: #fff1c6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem; }
    .mainInicio .productos .containerProductos .tituloProductos {
      text-align: center; }
  .mainInicio .imagenesInicioProductos img {
    border: 6px double;
    border-color: #000000;
    border-style: double;
    width: 230px;
    height: 270px; }
  .imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem; }
  /*pagina de recetas */
  .mainPage .sectionPage {
    margin: 20px; }
  .receta1 {
    margin: 0%; }
    .receta1 .ingredientes {
      display: flex;
      flex-direction: row;
      gap: 67px; }
      .receta1 .ingredientes img {
        margin: 0%; }
  .videos iframe {
    width: 353px;
    height: 280px; } }

/*------------Pagina Contacto-----------*/
.contacto {
  background-image: url(../img/fondoMadera2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px; }
  .contacto .home {
    font-size: 10px;
    margin: 5%;
    text-align: center;
    font-family: "Poppins", sans-serif; }
    .contacto .home h3 {
      text-align: justify; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 30px;
  line-height: inherit; }

.formContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10%;
  font-family: "Poppins", sans-serif; }
  .formContacto label {
    padding: 10px; }

p input {
  text-align: left; }

/*------------Pagina Productos-----------*/
.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fondoMadera2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .mainPage section {
    margin: 0 5% 5% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem; }

.sectionProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 40%;
  border-radius: 10px;
  background-color: #fbfdff;
  padding: 20px;
  border: solid 4px; }
  .sectionProductos img {
    width: 90%;
    height: 85%;
    padding: 10px; }
  .sectionProductos .compra {
    gap: 5px;
    width: fit-content;
    background-color: #ffeaed;
    border-radius: 8px;
    border-color: #ea899a;
    padding: 0 5px; }

/*-----------------------------------------------------------------------------*/
/* desktop */
@media screen and (min-width: 1050px) {
  /* menu principal desktop*/
  .menu li {
    padding: 5px 15px;
    position: relative;
    text-align: center; }
  .menu li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transition: transform 0.25s ease-out; }
  .menu li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom; }
  /* pagina de inicio desktop */
  .mainInicio {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "bienvenida bienvenida" "nosotros nosotros"    "productos productos"; }
    .mainInicio .bienvenida {
      height: 100vh; }
    .mainInicio .imagenesInicio img {
      transition: all 1s; }
      .mainInicio .imagenesInicio img :hover {
        opacity: 0.7; }
  .mainPage .tituloPage p {
    text-align: center; }
  .mainPage section {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
  /*pagina de productos y recetas tablet*/
  .receta1 {
    max-height: 800px;
    max-width: 800px; }
    .receta1 .ingredientes {
      display: flex;
      flex-direction: row;
      gap: 67px; }
  .videos iframe {
    width: 453px;
    height: 380px; } }

/******************************************************************************************************************************************/
.imagenesInicioProductos {
  padding: 1em 0;
  float: left;
  width: 100%;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px; }

.content {
  position: relative;
  text-align: center;
  max-width: 400px;
  margin: auto; }

.content:hover .content-overlay {
  opacity: 1; }

.content .content-title {
  padding-left: 1em;
  padding-right: 1em;
  color: #000000;
  font-family: "Ms Madi", cursive;
  font-size: 2rem;
  text-shadow: 2px 0px 0px beige, 0px 2px 0px beige, -2px 0px 0px beige, 0px -2px 0px beige;
  text-decoration: none;
  width: 100%;
  top: 50%;
  left: 50%; }

.content-image {
  width: 100%; }

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1; }

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase; }
  .content-details h3 p {
    color: #fff;
    font-size: 0.8em; }

.fadeIn-bottom {
  top: 80%; }
